body {
	background-color: #374D5C;
	overflow-x: hidden;
}

#Links {
	text-align: right;
	font-size: 15px;
}

/* Header Stuff*/
#header {
	background-color: #CF7A30;

	margin-left: -10px;
	margin-right: -10px;
	margin-top: -1px;
	margin-bottom: 0px;

	padding-left: 20px;
	padding-right: 20px;
	padding-top: 30px;
	padding-bottom: 0px;

	height: 100px;

}

#header h1 {
    width: 200px;
    float: left;

    padding-top: 20px;
}

#header a {
    float: right;

    padding-top: 80px;
}

/* End header stuff*/



a:visited, a:link {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #ffffff;
}

.guitar {
    width: 800px;
    height: 150px;
    background-color: #BF954D;
    margin: auto;
}

.fret {
    border: 1px solid black;
    height: 150px;
    float: left;
}

.string {
    height: 5px;
    background-color: black;
    border: 1px solid #BF954D;
    margin: auto;
}

.guitarSettings {
    margin: auto;
    width: 60%;
    height: 20px;
    background-color: #31778C;
    padding: 5px;
    border-radius: 3px;
}

.selectLeft {
    float: left;
    padding: 2px;
}

.selectRight {
    float: right;
}






