body {
	background-color: #374D5C;
	overflow-x: hidden;
}

#Links {
	text-align: right;
	font-size: 15px;
}

/* Header Stuff*/
#header {
	background-color: #676982;

	margin-left: -10px;
	margin-right: -10px;
	margin-top: -1px;
	margin-bottom: 0px;

	padding-left: 20px;
	padding-right: 20px;
	padding-top: 30px;
	padding-bottom: 0px;

	height: 100px;

}

#header h1 {
    width: 200px;
    float: left;

    padding-top: 20px;
}

#header a {
    float: right;

    padding-top: 80px;
}

/* End header stuff*/



a:visited, a:link {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #ffffff;
}

.guitar {
    width: 800px;
    height: 150px;
    background-color: #6E5B43;
    margin: auto;
    border: 1px solid #94AFB0;
    border-left-width: 5px; 
    box-shadow: 0 0 15px black;
}

.fret {
    border: 1px solid #94AFB0;
    border-top: 0px;
    border-bottom: 0px;
    height: 150px;
    float: left;
    box-shadow: 0 0 10px #2E3233;
}

.string {
    height: 5px;
    background-color: black;
    border: 1px solid #6E5B43;
    margin: auto;
}

.stringHighlight {
    height: 5px;
    background-color: white;
    border: 1px solid #6E5B43;
    margin: auto;
    box-shadow: 0 0 7px #A3D6D9;
}

.guitarSettings {
    margin: auto;
    width: 60%;
    height: 20px;
    background-color: #31778C;
    padding: 5px;
    border-radius: 3px;
}

.selectLeft {
    float: left;
    padding: 2px;
}

.selectRight {
    float: right;
}

#strings {
	width: 30px;
}

#frets {
	width: 30px;
}

#info {
	width: 75%;	
	margin: auto;
	border: 1px solid black;
	padding: 10px;
	border-radius: 5px;
	background-color: #6EAAB8;
}

#note {
	width: 50px;
	}






